@media (max-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  header {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.5vw;
  }

}


@font-face {
  font-family: 'YUniverse-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'EF_Rebecca';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KOTRALEAP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Handletter';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cafe24Lovingu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HSBombaram';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Hahmlet-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LeferiPoint-SpecialItalicA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NapjakBlock';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NapjakBlock.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  /* font-family: 'YUniverse-B'; */
  font-family: 'NanumSquare', sans-serif;
}


html, body {
  display: flex;
  color: black;
  background: black;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-y: auto;
}


h1 {
  font-family: 'Cafe24Lovingu';
  font-size: 5rem;
  margin: 0.1rem 2rem;
  padding: 0rem;

}


header {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}


header img {
  width: 20rem;
  margin: 3rem;
}


header h1 {
  margin-top: 4rem;
  font-size: 6rem; 
  color : red; 
}


header p {
  margin: 0;
  font-size: 0.8rem;
  color: red; 

}


main {
  width: 90%;
  max-width: 55rem;
  margin: auto;
  color: red;
}


main h2 {
  font-size: 3rem;
  font-family: 'NapjakBlock';
  text-align: center;
  margin: 0 0 1.5rem 0;
}


main h3 {
  font-size: 2rem;
  font-family: 'NapjakBlock';
  text-align: center;
  margin: 0 0 1.5rem 0;
}


section {
  padding: 3rem;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-bottom: 5rem;
}


#casts ul {
  list-style: none;
  padding: 0;
  margin-bottom: 100px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

}


#casts li {
  width: 10rem;
  text-align: center;
}


#casts li img {
  margin: 10px;
  max-width: 10rem;
  height: 10rem;
  object-fit: cover; 
  /* object-fit: cover; 콘텐츠의 가로세로 비율을 유지하여 보여줌 (일일이 px값 조정할 필요 없음) 다만 cover의 경우 이미지가 잘릴 수 있다. */
}


#casts li h3 {
  margin: 0.5rem 0;

}


#casts li p {
  font-size: 0.8rem;
}


#hidden-div {
  padding: 30px;
}


#reservation button {
  padding: 1rem;
  color: white;
  font-size: large;
  background-color: red;
  border: none;
  border-radius: 0.2rem;
  font-family: 'YUniverse-B';
}


#dateBtn ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 3em;
}

#dateBtn li {
  list-style: none;
}


#dateBtn button {
  background-color: white;
  border: solid;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}


#examples menu button:hover {
  background-color: #6086cb;
  color: white;
  box-shadow: 0 2px 8px rgb(33, 84, 167);
}