@media (max-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  header {
    font-size: 1.5rem;
  }
}


@font-face {
  font-family: 'EF_Rebecca';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cafe24Lovingu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NapjakBlock';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NapjakBlock.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  font-family: 'NanumSquareRound', sans-serif;
}


html, body {
  color: black;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-y: auto;
}


h1 {
  font-family: 'Cafe24Lovingu';
  font-size: 5rem;
  margin: 0.1rem 2rem;
  padding: 0rem;
}


header {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}


header img {
  width: 20rem;
  margin: 3rem;
}


header h1 {
  margin: 4rem 0;
  font-size: 4rem; 
  color : red; 
}


header p {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: red; 

}


main {
  max-width: 60rem;
  margin: 0 auto;
  color: red;
}


main h2 {
  font-size: 2.8rem;
  font-family: 'NapjakBlock';
  /* text-align: center; */
  margin: 1rem 0 0 0;
}


main h3 {
  font-size: 1.8rem;
  /* font-family: 'TAEBAEKmilkyway'; */
  /* text-align: center; */
}


section {
  padding: 2.6rem;
  border-radius: 0.8rem;
  background-color: white;
  color: black;
  margin-bottom: 5rem;
}


#synopsis {
  font-size: 1.2rem;
}


#casts ul {
  list-style: none;
  padding: 0;
  margin: 3rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}


#casts li img {
  margin: 1rem;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 0.5rem;
  object-fit: cover; 
  /* object-fit: cover; 콘텐츠의 가로세로 비율을 유지하여 보여줌 (일일이 px값 조정할 필요 없음) 다만 cover의 경우 이미지가 잘릴 수 있다. */
}


#casts li p {
  font-size: 1.2rem;
}


#reservation button {
  padding: 1rem;
  color: white;
  font-size: large;
  background-color: red;
  border: none;
  border-radius: 0.2rem;
  font-family: 'YUniverse-B';
}


#dateBtn ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 3em;
}


#dateBtn li {
  list-style: none;
}


#dateBtn button {
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 0.5rem;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}


#dateBtn button:hover {
  background-color: #6086cb;
  color: white;
  box-shadow: 0 2px 8px rgb(33, 84, 167);
}


#hidden-div {
  padding: 2.6rem;
}